body {
    background-color: #000000;
    color: #ffffff;
}

header {
    
}

header img {
    display: block;
    margin: auto;
    width: 691px;
}

main {
    margin: auto;
    width: 40vw;
}

img {
    display: block;
}

.mystery-card img {
    width: 200px;
    height: 200px;
}


